@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";

$themes: (
    hdao: (
        //基本上颜色1=浅色、颜色2=深色、颜色3=其他
        //背景色
        background_color1: #eefaee,
        background_color2: #dff0d8,
        background_color3: #eee,
        background_color_hover: #dff0d8,
        //主要前景色、图标颜色等
        icon_color1: #5fb878,
        //字体颜色
        font_color1: #777,
        font_color2: #444,
        font_color_href: #0000ee,
        font_color4: #5fb878,
        //边框颜色
        border_color1: #5fb878,
    ),
);

//遍历主题map
@mixin themeify {
    @each $theme-name, $theme-map in $themes {
        //!global 把局部变量强升为全局变量
        $theme-map: $theme-map !global;
        //判断html的data-theme的属性值  #{}是sass的插值表达式
        //& sass嵌套里的父容器标识   @content是混合器插槽，像vue的slot
        [data-theme="#{$theme-name}"] & {
            @content;
        }
    }
}

//声明一个根据Key获取颜色的function
@function themed($key) {
    @return map-get($theme-map, $key);
}

//获取背景颜色
@mixin background_color($color) {
    @include themeify {
        background-color: themed($color) !important;
    }
}

//获取字体颜色
@mixin font_color($color) {
    @include themeify {
        color: themed($color) !important;
    }
}

//获取边框颜色
@mixin border_color($color) {
    @include themeify {
        border-color: themed($color) !important;
    }
}

body {
    @include background_color("background_color1");
}

//因为bootstrapvue的问题，表情包栏的式样一定得在这里写
.nav {
    @include background_color("background_color1");
    a {
        @include font_color("font_color2");
    }
}

[v-cloak] {
    display: none;
}
