@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";
@import "./themes.scss";
@import "./control.scss";

//全体共通
body {
    @include background_color("background_color0");
    @include font_color("font_color2");
}

//平滑滚动
// html,
// body {
//     scroll-behavior: smooth;
// }

.b-pagination {
    margin-bottom: 0;
}
.common_input,
.title_input,
.content_input,
.nickname_input,
.custom-select {
    @include background_color("background_color_input");
    @include font_color("font_color_input");
}

.favicon {
    cursor: pointer;
}

//按钮
// .btn-success {
//     @include font_color("btn_color");
//     @include background_color_i("btn_background_color");
//     @include border_color("btn_border_color");
//     :hover {
//         @include background_color_i("btn_background_color_hover");
//         @include border_color("btn_border_color_hover");
//     }
//     :disabled {
//         @include background_color_i("btn_background_color_disable");
//         @include border_color("btn_border_color");
//     }
//     :focus {
//         @include background_color_i("btn_background_color_hover");
//         @include border_color("btn_border_color_hover");
//         @include box_shadow_color("btn_box_shadow");
//     }
// }

//日清图
.nissined_img {
    position: fixed;
    top: 40%;
    width: 404px;
    height: 240px;
    left: 50%;
    margin-left: -202px;
}

//侧边栏及其他
.spinner.document-loading {
    @include font_color("icon_color1");
    position: fixed;
    z-index: 999;
    width: 3rem;
    height: 3rem;
    right: 50%;
    top: 40%;
}
.spinner.img-uploading {
    @include font_color("icon_color1");
    width: 1rem;
    height: 1rem;
}

.z-sidebar {
    position: fixed;
    z-index: 999;
    //电脑屏幕大于1200px时，不要走到最右边
    @media all and (min-width: 1200px) {
        right: calc(50% - 600px);
    }
    @media not all and (min-width: 1200px) {
        right: 15px;
    }
    bottom: 40%;
    @include font_color("icon_color1");
    width: 40px;
    div > div {
        margin-top: 10px;
        width: 32px;
        height: 32px;
        position: relative;
    }
    .icon-box {
        margin-top: 10px;
        width: 32px;
        height: 32px;
        position: relative;
    }
}
.z-sidebar {
    .icon-roll {
        cursor: pointer;
    }
}
.z-sidebar {
    .icon-top,
    .icon-down,
    .icon-jump,
    .icon-new-thread,
    .icon-box,
    .icon-reload {
        width: 24px;
        left: 4px;
        cursor: pointer;
    }
}

.toast-body,
.toast-header {
    @include background_color("background_color_toast");
    @include font_color("font_color_toast");
}
.modal-content {
    @include background_color("background_color_modal1");
    input.form-control {
        @include background_color("background_color_input");
        @include font_color("font_color_input");
    }
    .input-group-text {
        @include background_color("background_color_modal2");
        @include font_color("font_color_modal");
    }
}

//管理员及系统昵称的颜色
.post_nick_name.created_by_admin1 {
    color: #dd0000;
}
.post_nick_name.created_by_admin2 {
    color: #5fb878;
}

//顶部nav相关
.navbar {
    @include background_color("background_color_nav");
    .router-link-active {
        @include font_color("font_color_nav");
    }
}
.btn-outline-dark {
    @include font_color("font_color_nav");
}
.btn-outline-dark:hover {
    @include font_color("font_color5");
}

.favicon {
    max-width: 32px;
    max-height: 32px;
}

//homepage相关
.bulletin-card {
    @include background_color("background_color5");
}
.forums-card {
    cursor: pointer;
    @include background_color("background_color5");
}
.card-header {
    @include background_color("background_color3");
}
.card-title {
    @include font_color("font_color2");
    font-size: 1rem;
}
.card-text {
    @include font_color("font_color2");
    font-size: 0.875rem;
}

//emoji相关
.emoji_box {
    max-width: 48px;
    max-height: 48px;
}
.emoji_container {
    max-height: 250px;
    overflow-y: auto;
}
#placeholder___BV_tab_button__ {
    display: none !important;
}
//1.0的emoji
.emotion {
    max-width: 48px;
    max-height: 48px;
}

//emoji的nav
.nav {
    @include background_color("background_color6");
    a {
        @include font_color("font_color2");
    }
}
.nav-link {
    padding: 0.5rem 0.75rem;
}
.nav-link.active {
    @include background_color("icon_color2");
}

//forum_page相关
.forum_name {
    cursor: pointer;
}
.badge {
    @include background_color("background_color4");
}
.svg-icon,
.icon-back,
.icon-revoke,
.icon-drawer,
.icon-battle {
    cursor: pointer;
}
//菠菜下注列表
.gamble_table {
    width: 100%;
    margin-bottom: 1rem;
    @include background_color("backgroud_color1");
    thead {
        @include background_color("background_color2");
    }
    th {
        border-top: 1px solid;
        border-bottom: 1px solid;
        @include border_color("border_color0");
        padding: 0.5rem;
    }
    td {
        border-bottom: 1px solid;
        @include border_color("border_color1");
        padding: 0.5rem;
    }
    tr:hover {
        @include background_color("background_color_hover");
    }
}

//电脑版主题列表
.threads_table {
    width: 100%;
    margin-bottom: 1rem;
    @include background_color("backgroud_color1");
    thead {
        @include background_color("background_color3");
    }
    th {
        border-top: 1px solid;
        border-bottom: 1px solid;
        @include border_color("border_color0");
        padding: 0.5rem;
    }
    td {
        border-bottom: 1px solid;
        @include border_color("border_color1");
        padding: 0.5rem;
    }
    tr:hover {
        @include background_color("background_color_hover");
    }
}

//手机版主题列表
.thread_title {
    cursor: pointer;
    @include font_color("font_color_href");
}
.thread_page {
    @include font_color("font_color_href");
}

.threads_table_header {
    @include background_color("background_color3");
    border-bottom: 1px solid;
    border-top: 1px solid;
    @include border_color("border_color0");
}
.threads_container {
    border-bottom: 1px solid;
    @include border_color("border_color1");
}

//thread_page相关
.post_title {
    @include background_color("background_color2");
}
.post_container {
    @include background_color("background_color6");
}
.post_footer_text {
    @include font_color("font_color3");
}
.post_footer {
    font-size: calc(0.8rem + 0.2vw);
}
.vote-content,
.gamble-content,
.post_item {
    border-bottom: 1px solid;
    @include border_color("border_color1");
}
.emoji_img {
    max-height: 67px;
    max-width: 67px;
}
.quote_content {
    @include font_color("font_color1");
}
.svg-success {
    @include font_color("icon_color2");
    cursor: pointer;
}
.svg-light {
    @include font_color("icon_color3");
    cursor: pointer;
}
.post_content img {
    max-width: 100%;
}

label.custom-file-label {
    @include background_color("background_color_input");
    @include font_color("font_color_input");
}
label.custom-file-label::after {
    @include background_color("background_color_modal2");
    @include font_color("font_color_modal");
}

//投票相关
.progress-bar {
    @include font_color("font_color2");
    @include background_color("icon_color1");
    font-size: 1rem;
    text-align: left;
    padding-left: 1rem;
}
.progress {
    background-color: transparent;
    position: relative;
    left: -124px;
    z-index: -1;
}

//大乱斗相关
.battle-item {
    max-width: 600px;
    border: 2px solid;
    border-radius: 10px;
    @include background_color("background_color7");
    @include border_color("border_color2");
}
.battle_message_system {
    @include background_color("background_color3");
    border-radius: 10px;
    padding-left: ($spacer * 0.5);
    padding-right: ($spacer * 0.5);
    padding-top: ($spacer * 0.25);
    padding-bottom: ($spacer * 0.25);
}

[v-cloak] {
    display: none;
}
