$themes: (
    hdao: (
        //背景色、0= 整体背景色 1=主题色（浅） 2=主题色（深） 3=浅灰色（导航栏等）4=深灰色（小岛号码圆点等） 5=白色 6=通常为透明色 input=输入框颜色
        background_color0: #eefaee,
        background_color1: #eefaee,
        background_color2: #dff0d8,
        background_color3: #eee,
        background_color4: #6c757d,
        background_color5: #ffffff,
        background_color6: transparent,
        background_color_hover: #dff0d8,
        //主要前景色、图标颜色等
        icon_color1: #5fb878,
        icon_color2: #28a745,
        icon_color3: #777,
        //字体颜色 1=浅灰色（引用等）  2=深灰色（主要字体） 3=主题色（发帖者信息等）5=白色 href=超连接  admin=管理员色 nav=顶部标题栏颜色
        font_color1: #777,
        font_color2: #444,
        font_color3: #5fb878,
        font_color5: #ffffff,
        font_color_href: #0000ee,
        font_color_admin: #dd0000,
        //边框颜色 0=黑色 1=主题色
        border_color0: #111,
        border_color1: #5fb878,
        //toast颜色
        background_color_toast: rgba(255, 255, 255, 0.5),
        font_color_toast: #444,
        //输入框颜色
        background_color_input: #fff,
        font_color_input: #444,
        //导航栏
        font_color_nav: #444,
        background_color_nav: #eee,
        //按钮系列
        // btn_color: #fff,
        // btn_background_color: #28a745,
        // btn_background_color_disable: #6dc380,
        // btn_background_color_hover: #218838,
        // btn_border_color: #28a745,
        // btn_border_color_hover: #1e7e34,
        // btn_box_shadow: rgb(72 180 97 / 50%),,,,,
    ),
    night: (
        //背景色、0= 整体背景色 1=主题色（浅） 2=主题色（深） 3=浅灰色（导航栏等）4=深灰色（小岛号码圆点等） 5=白色 6=通常为透明色 input=输入框颜色
        background_color0: #0c1219,
        background_color1: #ccc,
        background_color2: #424a54,
        background_color3: #424a54,
        background_color4: #6c757d,
        background_color5: #0c1219,
        background_color6: transparent,
        background_color_hover: #424a54,
        //主要前景色、图标颜色等
        icon_color1: #bdbbbb,
        icon_color2: #ddd,
        icon_color3: #777,
        //字体颜色 1=浅灰色（引用等）  2=深灰色（主要字体） 3=主题色（发帖者信息等）5=白色 href=超连接  admin=管理员色 nav=顶部标题栏颜色
        font_color1: #666,
        font_color2: #aaa,
        font_color3: #626264,
        font_color5: #ffffff,
        font_color_href: #aaa,
        font_color_admin: #dd0000,
        //边框颜色 0=黑色 1=主题色
        border_color0: #111,
        border_color1: #1c424a,
        //toast颜色
        background_color_toast: rgba(66, 74, 84, 0.5),
        font_color_toast: #eee,
        //输入框颜色
        background_color_input: #424a54,
        font_color_input: #ddd,
        //导航栏
        font_color_nav: #ddd,
        background_color_nav: #424a54,
    ),
    gray: (
        //背景色、0= 整体背景色 1=主题色（浅） 2=主题色（深） 3=浅灰色（导航栏等）4=深灰色（小岛号码圆点等） 5=白色 6=通常为透明色 input=输入框颜色
        background_color0: #e8e8e8,
        background_color1: #e8e8e8,
        background_color2: #e8e8e8,
        background_color3: #eee,
        background_color4: #6c757d,
        background_color5: #ffffff,
        background_color6: transparent,
        background_color_hover: #eee,
        //主要前景色、图标颜色等
        icon_color1: #aaaaaa,
        icon_color2: #777,
        icon_color3: #777,
        //字体颜色 1=浅灰色（引用等）  2=深灰色（主要字体） 3=主题色（发帖者信息等）5=白色 href=超连接  admin=管理员色 nav=顶部标题栏颜色
        font_color1: #777,
        font_color2: #444,
        font_color3: #555,
        font_color5: #ffffff,
        font_color_href: #0000ee,
        font_color_admin: #dd0000,
        //边框颜色 0=黑色 1=主题色
        border_color0: #111,
        border_color1: #111,
        //toast颜色
        background_color_toast: rgba(255, 255, 255, 0.5),
        font_color_toast: #444,
        //输入框颜色
        background_color_input: #fff,
        font_color_input: #444,
        //导航栏
        font_color_nav: #444,
        background_color_nav: #eee,
        //按钮系列
        // btn_color: #fff,
        // btn_background_color: #28a745,
        // btn_background_color_disable: #6dc380,
        // btn_background_color_hover: #218838,
        // btn_border_color: #28a745,
        // btn_border_color_hover: #1e7e34,
        // btn_box_shadow: rgb(72 180 97 / 50%),,,,,
    ),
);
